.homepage {
    background-color: #f1f0f0;
}

.about-left {
    /* max-width: 400px; */
    min-height: 480px;
    background-color: white;
}

.view-more {
    position: relative;
    left: 25px;
    transform: translateY(-50%);
    text-decoration: none;
}

.about-right img {
    width: 90%;
    position: relative;
    left: 50px;
}


@media screen and (max-width: 767px) {
    .about {
        flex-direction: column;
    }

    .about-right img {
        width: 100%;
        position: relative;
        left: 0px;
        margin-top: 50px;
    }
}


.about-right video {
    width: 100%;
    /* Full width of the parent div */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 100%;
    /* Ensure it doesn't exceed the height of the parent */
    object-fit: cover;
    /* Cover the entire area */
    border-radius: 1rem;
}